<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="css/index.css" />
    <script src="/jquery-3.7.1.js"></script>
    <title>ED-1 Dashboard</title>
  </head>
  <body>
    <header>
      <h2 class="head">ED-1 Dashboard</h2>
      <h6 class="date"></h6>
    </header>
    <div class="indicator-container">
      <div id="out1" class="indicator output-off">Output 1</div>
      <div id="out2" class="indicator output-off">Output 2</div>
      <div id="tank" class="indicator level-off">Level...</div>
      <div id="emg" class="indicator emg-off">EMG</div>
    </div>
    <div class="root-div">
      <div>
        <p class="my-time"></p>
        <div class="cpu-temp">
          CPU :
          <span class="cpuTemp"><%=cpuTemp %> °C</span>
        </div>
        <div class="control-panel">
          <div class="user-temp-display">
            <span class="user-temp"><%=userTemp %> °C</span>
          </div>
          <div class="slider-container">
            <input
              class="slider"
              oninput="sliderInput()"
              type="range"
              min="0"
              max="150"
              value="<%=userTemp %>"
            />
            <label>- Temperature Adjust +</label>
          </div>
          <div class="startBtn" onclick="startDist()"><h2>START</h2></div>
          <div class="stopBtn" onclick="stopDist()"><h2>STOP</h2></div>
        </div>
      </div>
      <div class="data-display-container">
        <div class="container-item">
          <h3>Sensor A</h3>
          <h2 class="temp-display tempA"><%=tempA %> °C</h2>
          <h2 class="res-display resA"><%=resA %> Ω</h2>
        </div>
        <div class="container-item">
          <h3>Sensor B</h3>
          <h2 class="temp-display tempB"><%=tempB %> °C</h2>
          <h4 class="res-display resB"><%=resB %> Ω</h4>
        </div>
      </div>
    </div>
    <footer></footer>
    <script src="/scripts.js"></script>
  </body>
</html>
